
form {

  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

#rdp
{
  margin-left: 15px;
}
#local{
  color: red;
  font-size: 13px;

}


.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {

	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: ;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}

input.local
{
  display : inline;
  width: 45%;
  margin: auto;
  margin: 0;
}

input.search
{
  width: 77%;
}
button.search
{
  padding: 13px;
  color: #FFF;
  background-color: #3498db;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 20%;
  border: 1px solid #2980b9 ;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;

}
.search
{
  display : inline;
  width: 45%;
  margin: auto;
  margin: 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3498db;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #2980b9 ;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;

}


label.light {
  display : inline;
  position : relative;
  padding-left : 10px;
  margin-bottom :15px;
  cursor : pointer;

}
legend
{
  margin-top: 20px;
}

table {
border: 2px solid #ccc;
border-collapse: collapse;
margin: 0;
padding: 0;
width: 100%;
table-layout: fixed;
}
.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

table thead th ,table tbody td
{
  font-size : 12px;
}
table thead th {
  font-weight: bold;
}

tr:hover{
background-color:gray;
cursor:pointer;
}


table tbody td:last-child, table thead th:last-child {
  border-right: none;
}

table tbody td:first-child, table thead th:first-child {
  width: 15px;
  border-right: none;
}
table tbody td:nth-child(2), table thead th:nth-child(2) {
  width: 100px;
  border-left: none;
}
table tbody td:nth-child(3), table thead th:nth-child(3) {
  width: 150px;
}
table tbody td:nth-child(4), table thead th:nth-child(4) {
  width: 80px;
}
table tbody td:nth-child(5), table thead th:nth-child(5) {
  width: 100px;
}


@media screen and (min-width: 425px) {

  form {
     max-width: 375px;
  }

@media screen and (min-width: 480px) {

  form {
     max-width: 600px;
  }

  @media screen and (min-width: 600px) {

    form {
      max-width: 700px;
    }
}
@media screen and (min-width: 700px) {

  form {
    max-width: 800px;
  }
}
